@tailwind base;
@tailwind components;
@tailwind utilities;

.one {
    border:0.1rem solid ghostwhite ;
    box-shadow:4px 4px 4px 4px whitesmoke ;
}
.dp{
    border:2px solid #355070 ;
}
.dp:hover{
transform: scale(1,1.3);
}
.two {
    border:0.1rem solid ghostwhite ;
    box-shadow:4px 4px 4px 4px whitesmoke;
}
.button{
    width: 8rem;
    height:2rem ;
    background-color:#355070;
    padding:0.2rem ;
    margin-top: 1rem;
    border-radius:1rem ;
    margin-left:6rem ;
    color: aliceblue;
    box-shadow:1px 1px 1px 1px whitesmoke;
}
p{
    font-weight: 600;
    color:#355070 ;
}
.col:hover{
    color:palevioletred;
}
.pro:hover{
 transform: scale( 1,0.8);
 box-shadow:2px 2px 2px 2px solid whitesmoke;
}
